<!-- <p>footer works!</p> -->
<section id="footer" class="footer">
  <div>
    <app-social [footer]="'footer'"></app-social>
    <img
      src="../../../../assets/RECURSOS_YOCREOMISUERTE/CONTACTANOS/SeparadorLogoRedes.svg"
      alt="SeparadorLogoRedes"
      class="separador__img img"
    />
    <a href="#home">
      <img
        src="../../../../assets/RECURSOS_YOCREOMISUERTE/CONTACTANOS/LogoYoCreoMiSuerte.svg"
        alt="LogoYoCreoMiSuerte"
        class="logo__img img"
      />
    </a>
  </div>
  <app-nav [activeSection]="activeSection" [footer]="'footer'"></app-nav>
  <a
    href="https://nikolasoft.com/"
    target="_blank"
    class="a__company"
    rel="noopener"
  >
    <img
      src="../../../../assets/RECURSOS_YOCREOMISUERTE/CONTACTANOS/PoweredByNikolasoft.svg"
      alt="PoweredByNikolasoft"
      class="company__img img"
    />
  </a>
</section>
