.nav {
  font-size: 16px;
  font-weight: 600;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  position: relative;
  padding: 0;
}

.show ul {
  flex-direction: column;
}

.footer ul {
  gap: 35px;
  flex-direction: row;
  padding: 0 40px;
}

ul li {
  text-align: center;
  position: relative;
}

@media (max-width: 900px) {
  .footer ul {
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .footer ul {
    flex-direction: column;
  }
}

.nav a::after {
  content: "";
  height: 7px;
  background-image: url(../../../../assets/RECURSOS_YOCREOMISUERTE/HOME/BarraMenu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  border-radius: 3px;
  display: none;
}

.nav .activeSection {
  text-transform: uppercase;
  transform: scale(1.1);
}

.nav .activeSection::after {
  display: block;
}
