<!-- <p>social works!</p> -->
<div class="social {{ footer }}">
  <a href="#">
    <img
      src="../../assets/RECURSOS_YOCREOMISUERTE/HOME/Instagramlogo.svg"
      alt="Instagram"
      title="Instagram"
      class="header__social__icon img"
    />
  </a>
  <a href="#">
    <img
      src="../../assets/RECURSOS_YOCREOMISUERTE/HOME/FacebookLogo.svg"
      alt="Facebook"
      title="Facebook"
      class="header__social__icon img"
    />
  </a>
  <a href="#">
    <img
      src="../../assets/RECURSOS_YOCREOMISUERTE/HOME/WhatsAppLogo.svg"
      alt="WhatsApp"
      title="WhatsApp"
      class="header__social__icon img"
    />
  </a>
</div>
