<!-- <p>terms-and-conditions works!</p> -->
<section
  id="terms-and-conditions"
  class="terms-and-conditions mainSection {{
    activeSection === 'terms-and-conditions' ? activeSection : ''
  }} "
>
  <h5>Términos y Condiciones</h5>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
    wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
    lobortis
  </p>
</section>
